assets/screenshots/bootstrap-dashboard-desktop-1.png
assets/screenshots/bootstrap-dashboard-desktop-2.png
assets/screenshots/bootstrap-dashboard-mobile.png
assets/screenshots/bootstrap-dashboard-tablet.png
assets/screenshots/bootstrap-dashboard.webm
assets/screenshots/screen-con-dimensioni-strane/bootstrap-dashboard-desktop-1.png
assets/screenshots/screen-con-dimensioni-strane/bootstrap-dashboard-desktop-2.png
assets/screenshots/screen-con-dimensioni-strane/bootstrap-dashboard-mobile.png
assets/screenshots/screen-con-dimensioni-strane/bootstrap-dashboard-tablet.png
