:root{
    --sidebar-color: #041f34;
}

header > div{
    height: 70px;
}

#sidebar{
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--sidebar-color);
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
}

#sidebar i{
    width: 1rem;
}
