:root{
    --sidebar-color: #041f34;
    --pills-background: #165abb;
}

header > div{
    height: 70px;
}

main > div{
    height: calc(100vh - 70px);
}

#sidebar{
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--sidebar-color);
    background-repeat: no-repeat;
}

#sidebar i{
    width: 1rem;
}

.fontawesome_icon{
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

#sidebar li:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.pill_background{
    background-color: var(--pills-background);
}

#dashboard-down .card table{
    font-size: 0.75rem;
}

.w_20{
    width: 20px;
}

@media screen and (min-width: 992px){
    .offcanvas_width{
        width: 800px !important;
    }
    
}

